<div class="animated fadeIn">
	<div class="row mb-2">
		<div class="col-sm-6">
			<h3 class="mb-0">Cervezas</h3>
			<h6><small>{{ cervezasService.cervezas.length }} elementos</small></h6>
		</div>
		<div class="col-sm-6 text-right pt-2">
			<a class="btn btn-md btn-primary" [routerLink]="['nueva']">Agregar Cerveza</a>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<table class="table table-responsive-sm table-hover table-outline mb-0" *ngIf="cervezasService.cervezas.length > 0">
				<thead class="thead-light">
					<tr>
						<!--<th class="text-center"><i class="icon-people"></i></th>-->
						<th>Cerveza</th>
						<th>Estilo</th>
						<th>Actividad</th>
						<th class="text-center">Eliminar</th>
						<th class="text-center">Editar</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let cerveza of cervezasService.cervezas">
						<!--
						<td class="text-center">
							<div class="avatar">
								<img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
								<span class="avatar-status badge-success"></span>
							</div>
						</td>
						-->
						<td >
							<h5 class="mb-0">{{ cerveza.nombre }}</h5>
						</td>
						<td>
							{{ cerveza.estilo }}
						</td>
						<td>
							<div class="small text-muted">Última modificación</div>
							<div>{{ cerveza.updatedAt | date:'medium' }}</div>
						</td>
						<td class="text-center">
							<a class="text-danger" href="">
								<i class="fa fa-trash" style="font-size:24px"></i>
							</a>
						</td>
						<td class="text-center">
							<a class="text-info" href="" [routerLink]="['editar',cerveza.cervezaid]">
								<i class="fa fa-pencil" style="font-size:24px"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
