// Here you can add other styles


.app-header.navbar {
	.navbar-brand {
		width: 185px;
		background-size: 150px auto;
	}
}

.form-control-lg {
	font-weight: 600;
}

.dropdown-menu {
	display: block;
}